@property --collected-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.station-icon-wrapper {
  background: conic-gradient(var(--sc-station-icon-dark) var(--collected-angle), var(--sc-station-icon-background) var(--collected-angle) 360deg);
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 100%;  
  transition: --collected-angle .5s ease-out;  
  z-index:0;
}

.station-icon {
  top: 3px;
  left: 3px;
  position: absolute;
  width:24px;
  height: 24px;
  display: flex;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: var(--sc-station-icon-color, var(--ion-color-primary)); 
  color: var(--sc-station-icon-text-color, var(--ion-color-primary-contrast));
  font-size: .8em;
  font-weight: bold;
  z-index: 1;
}

.station-icon-size-large {
  &.station-icon-wrapper {
    width: 40px;
    height: 40px;
  }
  .station-icon {
    width: 34px;
    height: 34px;
    font-size: 1em;
  }
}

.collected-icon {
  position: absolute;
  font-size: 10px;
  border-radius: 100%;   
  display: flex;  
  justify-content: center;
  align-items: center;
  align-content: center;  
  right: -4px;
  bottom: -4px; 
  border: 1px solid var(--sc-station-icon-dark);
  color: var(--sc-station-icon-dark);
  background: var(--ion-color-primary-contrast);
  z-index: 2;
}

.animate-pop-appearance {
  animation-duration: 0.5s;
  animation-name: animate-pop;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
}

@keyframes animate-pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
