:host {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    width: 230px;
    font-weight: bold;

    ion-fab-button {
      width: 70px;
      height: 70px;
      font-size: 20px;
    }
}