.station-image-list {  
  ion-list {
    --ion-item-background: var(--ion-background-color-step-50);
  }
  ion-card {
    --background: var(--ion-background-color);
  }
  ion-card ion-item {
    --background: var(--ion-background-color);
    --background-hover-opacity: 0;
  }
}

.station-image-list {
  &-image {
    object-fit: cover;
    width: 100%;
  }
  &-description {
    padding-bottom: 10px;
  }
}
